#context {
    text-align:right;
    display:inline;
}

.ic { 
    display:inline;
}

.setleft {
    text-align:left;
    margin-bottom:3px;
    float:left;
    width:70%;
}

.setright {
    float:right;
    width:30%;
}

.clearfix {
    clear: both;
}

div.heading {
    display: inline-block;
    width: 45%;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
	vertical-align: middle;
}
div.heading:hover{
    overflow: visible;
    text-overflow: inherit;
}

#context label {
    display: inline-block;
    width: 45%;
    text-align: center;
    font-weight: bold;
}

.submit .button {
    margin: .5em auto;
    display: block;
}

#sections {
    /* Hack to get the embedded span to vertically align correctly*/
    line-height: 30px;      
}

.valign {
    display: inline-block;
    vertical-align: middle;
}

.row {

}
.course_settings {
    margin-bottom:5px;
}
.small {
    font-size:9px;
    color:#333333;
}
.button {
    margin: 0 auto;
    text-align:center;
    margin-top:5px;
    padding:3px;
}

#sections label {
    display: inline-block;
}

.ordinal {
    width: 5%;
    text-align: right;
    vertical-align: middle;
    padding: 4px 6px;
    margin-bottom: 10px;
}

.ordinal input[type="checkbox"] {
    margin-left: 4px;
    margin-right: 4px;
}

.sorder input[type="text"] {
    width: 5%;
    text-align: right;
}

.singlesection input[type="text"] {
    width: 50%;
}