#context {
text-align:right;
display:inline;
	}

.ic { 
display:inline;
}
.ynlabel {
	text-align:right;
	font-weight:bold;
	font-size:9px;
	padding-right:3px;
}
.setleft {
    text-align:left;
    border-bottom:1px #eeeeee dotted;
	margin-bottom:3px;
	font-size:11px;
	float:left;
	width:70%;
}

.setright {
	text-align:right;
	float:right;
	width:30%;
}

.toplevel {
    z-index = 1500;
}
.blue {
color: #0000ff;
}

.red {
color: #ff0000;

}

.green {
color: #00ff00;
}
.row {

}
.course_settings {
    margin-bottom:5px;
}
.small {
	font-size:9px;
	color:#333333;
}
.button {
	margin: 0,auto;
	text-align:center;
	margin-top:5px;
	padding:3px;
	font-size:10px;
	background:#666;
	color:#ffffff;
	border:1px #ffffff solid;
	}