#context {
    text-align:right;
    display:inline;
}

.ic { 
    display:inline;
}

.setleft {
    text-align:left;
    margin-bottom:3px;
    float:left;
    width:70%;
}

.setright {
    text-align:right;
    float:right;
    width:30%;
}

.clearfix {
    clear: both;
}

#context label {
    display: inline-block;
    width: 45%;
    text-align: center;
    font-weight: bold;
}

.submit .button {
    margin: .5em auto;
    display: block;
}

#sections {
    /* Hack to get the embedded span to vertically align correctly*/
    line-height: 30px;      
}

.valign {
    display: inline-block;
    vertical-align: middle;
}

.blue {
    color: #0000ff;
}

.red {
    color: #ff0000;

}

.green {
    color: #00ff00;
}
.row {

}
.course_settings {
    margin-bottom:5px;
}
.small {
    font-size:9px;
    color:#333333;
}
.button {
    margin: 0 auto;
    text-align:center;
    margin-top:5px;
    padding:3px;
    background:#666;
    color:#ffffff;
    border:1px #ffffff solid;
}